/*RESETA A CONFIGURACACO DO BROWSER*/
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
a:-webkit-any-link {
    color: initial;
    text-decoration: none;
}
html {
    box-sizing: border-box;
}
/*FIM RESETA A CONFIGURACACO DO BROWSER*/





ul {
    display: inline-flex;
    justify-content: space-between;
}
code {
    background: whitesmoke;
    padding: 5px 5px;
    border-left: 4px solid #4CAF50;
    line-height: 30px;
}
.conteudoArtigo {
    margin-left: 40px;
}
.basicMarginBottom {
    margin-bottom: 15px;
}
.basicPaddingTop {
    padding-top: 20px;
}
.meuHeader{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
}
#conteudo {
    margin-top: 30px;
}
#conteudo section {
    padding-top: 20px;
}